@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

/* header section start here  */

.header{
    padding: 2% 5%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#00000080,#00000080),
    url(img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    height: 60px;
    cursor: pointer;
}
.navbar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin: 0 20px;
}
.navbar ul li::after{
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: red;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul li a{
    color: white;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: cyan;
}
.text-box{
    padding: 0 25px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    font-size: 14px;
}
.text-box button{
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid white;
    outline: none;
    background: transparent;
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.text-box button:hover{
    background: #fa8500e5;
    border: 1px solid #fa8500e5;
}

/* header section end here  */

/* <!-- course section start here   --> */

.details{
    text-align: center;
}
.details h2{
    font-size: 36px;
    letter-spacing: 2px;
}
.details p {
    margin-top: 10px;
    font-size: 14px;
    color: #777777;
    letter-spacing: 1px;
}
.our-course{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
}
.course-all{
    padding-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.course{
    text-align: center;
    padding: 25px;
    background-color: #d2691e48;
    border-radius: 15px 0 15px 0;
    box-shadow: 0px 5px 10px #44444450;
    cursor: pointer;
    transition: 0.5s;
}
.course:hover{
    background-color: #77777763;
}
.course h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.course p{
    font-size: 14px;
    color: #777777;
}

/* <!-- course section end here   --> */

/* <!-- campus section start here   --> */


.our-campus{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
}
.campus-all{
    padding-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}
.campus{
    width: 350px;
    height: 500px;
    cursor: pointer;
    box-shadow: 0 8px 10px #b1b1b1f6;
    position: relative;
    overflow: hidden;
}
.campus img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.campus:hover img{
    transform: scale(1.2);
}
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    color: white;
    font-size: 25px;
    background: transparent;
    transition: 0.5s;
}
.layer:hover{
    background: #ff3030bd;
}
.layer h3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    transition: 0.5s;
}
.layer h3:hover{
    top:50%;
}
/* <!-- campus section end here   --> */


/* our-facilites section started here  */
.our-facilites{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
}
.facilites-all{
    padding-top: 50px;
    gap: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.facilities{
    width: 350px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 8px 10px #b1b1b1f6;  
}
.facilities:hover{
    box-shadow: 0 8px 20px #b1b1b1f6;  
    transform: scale(1.02);
}
.facilities img{
    width: 100%;
    border-radius: 6px;
}
.facilities h3{
    font-size: 21px;
    text-align: center;
    padding: 15px 0;
}
.facilities p{
    padding: 10px 20px;
    color: #777777;
    font-size: 14px;
}

/* our-facilites section end here  */

/* our-testimonial section start here  */

.testimonial-section{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
}
.our-testimonial{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d2691e48;
    padding: 25px;
    border-radius: 30px 0 30px 0;
    box-shadow: 0 5px 10px #808080a1;
    cursor: pointer;
    transition: 0.5s;
}
.testimonial:hover{
    box-shadow: 0 5px 30px #808080a1;
}
.testimonial img{
    margin-right: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.img-deta p{
    font-size: 14px;
    color: #777777;
}
.img-deta h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.icons i{
    color: #4e471e;
    margin-top: 15px;
}

/* our-testimonial section end here  */

/* our-Enroll section start here  */

.Enroll{
    width: 100%;
    margin-top: 100px;
    padding: 100px 0;
    background: linear-gradient(#00000091,#00000091),
    url(img/banner2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.Enroll h1{
    font-size: 36px;
    color: white;
    margin-bottom: 25px;
}
.Enroll a{
    padding: 10px 20px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 30px 0 30px 0;
    transition: 0.5s;
}
.Enroll a:hover{
    background: #fa8500e5;
    border: 1px solid #fa8500e5;
}
footer{
    padding-top: 100px;
    padding-bottom: 25px;
    width: 1100px;
    margin: auto;
    text-align: center;
}
footer p{
    font-size: 14px;
    padding: 25px 0;
    color: #777777;
}
.footer-icon i{
    font-size: 30px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}
.fa-facebook:hover{
    color: #0068c9;
}
.fa-instagram:hover{
    color: #f501ac;
}
.fa-linkedin:hover{
    color: #00c2c9e7;
}
.fa-youtube:hover{
    color: #c91700;
}

/* our-Enroll section end here  */



/* about.html section  */

.sub-header{
    padding: 2% 5%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(#00000086,#0000008f),
    url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-text-box{
    padding: 0 25px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%,-25%);
    color: white;
    text-align: center;
}
.sub-text-box h1{
    font-size: 40px;
}

.sub-about-us{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sub-about{
    width: 500px;
}

.sub-about h2{
    font-size: 25px;
    letter-spacing: 2px;
}

.sub-about p{
    padding: 25px 0;
    font-size: 14px;
    color: #777777;
}

.sub-about button{
    padding: 10px 20px;
    border: 1px solid #fa8500e5;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}

.sub-about button:hover{
    background: #fa8500e5;
    color: white;
}

.sub-about img{
    width: 100%;
}


/* course.html section started here  */

.course-header{
    padding: 2% 5%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(#00000086,#0000008f),
    url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.course-text-box{
    padding: 0 25px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%,-25%);
    color: white;
    text-align: center;
}

.course-text-box h1{
    font-size: 40px;
}



/* blog.html section start here  */

.cor-header{
    padding: 2% 5%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(#00000086,#0000008f),
    url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cor-text-box{
    padding: 0 25px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%,-25%);
    color: white;
    text-align: center;
}
.cor-text-box h1{
    font-size: 40px;
}

.cor-about-us{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.students{
    width: 60%;
}

.students h2{
    padding: 15px 0;
    text-align: center;
}

.students p{
    font-size: 14px;
    color: #777777;
    padding: 0 15px;
}

.students img{
    width: 100%;
}

.category{
    width: 35%;
}

.hed h3{
    background-color: #fa8500e5;
    text-align: center;
    color: white;
    padding: 5px 0;
    font-size: 18px;
}

.div-cat{
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

form{
    box-shadow: 0 0 2px #9e9e9e;
    padding: 10px;
    background-color: #77777731;
}

form h3{
    padding: 10px 0;
    text-align: center;
}

form input{
    width: 100%;
    margin-top: 25px;
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: #77777731;
    font-size: 14px;
    border-radius: 6px;
}

form textarea{
    margin: 25px 0;
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    padding: 15px 20px;
    background-color: #77777731;
    font-size: 14px;
    border-radius: 6px;
}

form button{
    margin-bottom: 10px;
    padding: 10px 50px;
    border: 1px solid #fa8500e5;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
form button:hover{
    background: #fa8500e5;
    border: 1px solid #fa8500e5;
    color: white;
}



/* contact.html section start here  */

.con-header{
    padding: 2% 5%;
    width: 100%;
    height: 50vh;
    background: linear-gradient(#00000086,#0000008f),
    url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.con-text-box{
    padding: 0 25px;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%,-25%);
    color: white;
    text-align: center;
}
.con-text-box h1{
    font-size: 40px;
}
.contact-section{
    padding-top: 100px;
    width: 1100px;
    margin: auto;
}
.contact-details-form{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.contact-details{
    width: 35%;
}
.c-deta{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.c-deta i{
    font-size: 25px;
    color: #fa8500e5;
}
.deta-s{
    margin-left: 25px;
}
.deta-s p{
    font-size: 18px;
}
.deta-s small{
    font-size: 14px;
    color: #777777;
}
.form{
    width: 60%;
}
.form input,textarea{
    margin-top: 25px;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #cccccc7c;
}
.form button{
    margin-top: 25px;
    padding: 15px 25px;
    border: 1px solid #fa8500e5;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
}
.form button:hover{
    background: #fa8500e5;
    color: white;
}





#check{
    display: none;
}

.menu-bar i{
    display: none;
}

@media screen and (max-width:1050px) {
    .menu-bar i{
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
    .navbar ul li::after{
        display: none;
    }
    ul{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 100px;
        right: -200%;
        background-color: #6b2d03cc;
        text-align: center;
        transition: 0.5s;
        z-index: 2;
    }
    ul li{
        padding-top: 25px;
    }
    ul li a{
        margin-top: 25px 0;
        color: cyan;
    }
    .navbar ul li a:hover{
        color: cyan;
    }
    #check:checked ~ ul{
        right: 0%;
    }
    #check:checked ~ .menu-bar i::before{
        content: '\f00d';
    }
    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        font-size: 13px;
    }
    .details h2{
        font-size: 25px;
    }
    .our-course{
        width: 900px;
    }
    .course-all{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .course{
        width: 400px;
    }
    .course h2{
        font-size: 20px;
    }
    .our-campus{
        padding-top: 100px;
        width: 900px;
    }
    .campus-all{
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .campus{
        width: 400px;
    }
    .our-facilites{
        width: 900px;
        margin: auto;
    }
    .facilities{
        width: 400px;
    }
    .facilites-all{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .testimonial-section{
        padding-top: 100;
        width: 900px;
    }
    .our-testimonial{
        padding-top: 25px;
        display: flex;
        gap: 25px;
    }
    .testimonial{
        width: 400px;
        display: block;
        row-gap: 25px;
        text-align: center;
    }
    .testimonial img{
        margin-right: 0;
        width: 100px;
        height: 100px;
    }
    .Enroll h1{
        font-size: 25px;
    }
    footer{
        width: 900px;
        padding: 50px 100px;
    }

    .sub-about-us{
        padding-top: 100px;
        width: 100%;
        margin: auto;
        display: flex;
        gap: 25px;
    }

    .sub-about{
        width: 400px;
        margin: auto;
    }

    .cor-about-us{
        padding-top: 100px;
        width: 900px;
        display: flex;
    }

    .contact-section{
        width: 900px;
        margin: auto;
    }

}

@media screen and (max-width:678px) {
    .logo img{
        height: 40px;
    }
    .menu-bar i{
        font-size: 20px;
    }
    .text-box h1{
        font-size:25px;
    }
    .text-box p{
        font-size: 12px;
    }
    .details h2{
        font-size: 25px;
    }
    .details p{
        font-size: 12px;
    }
    .our-course{
        padding-top: 50px;
        width: 100%;
    }
    .course{
        width: 325px;
    }

    .course-all{
        display: flex;
        flex-direction: column;
    }
    .our-campus{
        padding-top: 50px;
        width: 100%;
    }

    .campus-all{
        display: flex;
        flex-direction: column;
    }
    .campus{
        width: 325px;
    }
    .our-facilites{
        padding-top: 50px;
        width: 100%;
        margin: auto;
    }
    .facilities{
        width: 325px;
    }
    .facilites-all{
        display: flex;
        flex-direction: column;
    }
    .testimonial-section{
        padding-top: 50px;
        width: 100%;
    }
    .our-testimonial{
        padding-top: 25px;
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    .testimonial{
        width: 350px;
        display: block;
        row-gap: 25px;
        text-align: center;
    }
    .testimonial img{
        margin-right: 0;
        width: 100px;
        height: 100px;
    }
    .Enroll h1{
        font-size: 20px;
    }
    footer{
        padding: 50px 0;
        width: 100%;
    }
    footer p{
        font-size: 14px;
        padding: 15px 10px;
    }
    .sub-about-us{
        padding-top: 50px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .sub-about{
        width: 350px;
        margin: auto;
    }
    .cor-about-us{
        padding-top: 50px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .category{
        width: 80%;
        margin: auto;
    }
    .students{
        width: 80%;
        margin: auto;
    }

    .contact-section{
        padding-top: 50px;
        width: 80%;
        margin: auto;
    }
    .contact-details-form{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .contact-details{
        width: 100%;
        margin: auto;
    }
    .form{
        width: 100%;
        margin: auto;
    }
    .c-deta{
        margin-top: 25px;
    }
    .c-deta i{
        font-size: 20px;
    }
    .deta-s{
        margin-left: 20px;
    }
    .deta-s p{
        font-size: 16px;
    }
    .deta-s small{
        font-size: 12px;
    }
    .form input,textarea{
        margin-top: 20px;
    }
    .form button{
        margin-top: 20px;
    }
    .form input,textarea{
        font-size: 14px;
    }
    .form button{
        font-size: 14px;
    }

}